<app-nav-bar></app-nav-bar>
<hr>
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="example-card">
  <mat-card-title>Sign in</mat-card-title>

    <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()" class="example-form">
      <mat-card-content>
            <mat-form-field class="example-full-width" fxLayout.xs="center">
              <label for="username">Username</label>
              <input matInput type="text" id="username" formControlName="username"/>
              <mat-error *ngIf="hasError('username', 'required')">Name is required</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" fxLayout.xs="center">
              <label for="password">Password</label>
              <input matInput type="password" id="password" formControlName="password"/>
              <mat-error *ngIf="hasError('password', 'required')">Password is required</mat-error>
            </mat-form-field>
      <mat-card-actions>
        <a routerLink="/register" mat-raised-button color="accent">Register</a>
        <button [disabled]="loading" mat-raised-button color="primary">Login</button>
      </mat-card-actions>
      </mat-card-content>
    </form>
</mat-card>
</div>

